#modal__create-entry {
  & .modal__content {
    width: 50rem;
    height: 42rem;

    & .create-entry {
      height: 100%;

      & form {
        height: 100%;

        & .btn {
          position: absolute;
          bottom: 1rem;
          right: 1rem;
        }
      }
    }
  }
}
