#modal__create {
  z-index: 1;
  & .modal__content {
    width: 50rem;
    height: 42rem;

    & .create-form {
      height: 100%;

      & form {
        height: 100%;

        & .btn {
          position: absolute;
          bottom: 1rem;
          right: 1rem;
        }
      }
    }
  }
}
