@import "styles/colors";

@mixin boxBorder {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin hidden {
  opacity: 0;
  visibility: hidden;
}

@mixin visible {
  opacity: 1;
  visibility: visible;
}
