@import "styles/colors";

.page-footer {
  background-color: $color-tertiary;
  color: $font-color-light;
  font-size: 13px;
  display: flex;
  justify-content: center;
  z-index: 10;

  &__version {
    align-self: center;
  }
}
